body,html{
    background-color: white;
    height:100%;
}

body{
    margin:0;
}

#app{
    height:100%;
}

.container-y{
    width:100%;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    overflow-x: hidden;
}

.container-x{
    display:flex;
}

ul{
    list-style-type: none;
    padding-left:0;
}

li{
    display: block;
}

a{
    text-decoration:none;
}


/*文本颜色*/
.font-color-note{
    color:lightgray;
}