
@media (max-width: 768px) {

    /*Index*/
    .rs-container-main{
        min-width:600px;
        max-width: 600px;
    }

    .rs-container-header{
        min-width: 768px;
        max-width:768px;
    }
    /*end Index*/
}


/*sm及以下*/
@media (max-width: 991px) {
    .ws-sm-discover-main{
        height:100% !important;
        margin-top:0 !important;
    }

    .ws-sm-layout-main-center{
        width:95% !important;
    }
}
